$body-bg: #F6F7F9;
$black: #201F1E;
$gray-deactivate: #7A7A7A;
$gray-border: #EDEBE9;
$gray-bg: #F3F2F1;
$gray-hover: #F8F8F8;
$green: #6BB700;
$orange: #FFAA44;
$primary: #0078D4;
$primary-hover: #0061AB;
$primary-clicked: #004B85;
$primary-bg: #E8F5FF;
$red: #C50F1F;
$transparent: transparent;
$white: #ffffff;

$box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.08);
$box-shadow-2: 0px 0px 5px rgba(0, 0, 0, 0.1);