$vw-viewport: 1920;
$html-size: 14px;
$main-font-size: 16px;
$main-size: calc(get-vw($html-size) + 2px);

$full-h: 100vh;

// Container
$container-w: 1236px;

$lh: normal;
$font-family: 'Manrope', sans-serif;

// Font-sizes

$fs-10: inRem(10px);
$fs-12: inRem(12px);
$fs-14: inRem(14px);
$fs-16: inRem(16px);
$fs-18: inRem(18px);
$fs-20: inRem(20px);
$fs-22: inRem(22px); //Used for icons size
$fs-24: inRem(24px);
$fs-28: inRem(28px);
$fs-32: inRem(32px);

// Spacings

$s-2: inRem(2px);
$s-4: inRem(4px);
$s-7: inRem(7px); //Used for border elements
$s-8: inRem(8px);
$s-12: inRem(12px); //User in footer link seperators
$s-14: inRem(14px); //Used in tabs bottom padding
$s-15: inRem(15px); //Used in label for file
$s-16: inRem(16px);
$s-24: inRem(24px);
$s-30: inRem(30px); //Used for space between OTP code input field
$s-32: inRem(32px); //Used in for container inline paddings 
$s-36: inRem(36px);
$s-46: inRem(46px); //Used for dropdown divider
$s-48: inRem(48px);

// Icons sizes

$icon-10: inRem(10px);
$icon-19: inRem(19px);
$icon-22: inRem(22px);
$icon-33: inRem(33px);
$icon-55: inRem(55px);

$accordion-btn: inRem(41px);

// Border-radius

$br-8: inRem(8px);
$br-full: 100vw;

// Transition

$transition: all 0.3s ease-out;

// Screen-sizes

$main-screen: 1920px;
$desktop-mid: 1440px;
$desktop-small: 1024px;

// Chevron Icons

$dropdown-chevron: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22' fill='none'%3E%3Cpath d='M11 15.1251L4.125 8.2501L5.0875 7.2876L11 13.2001L16.9125 7.2876L17.875 8.2501L11 15.1251Z' fill='%237A7A7A'/%3E%3C/svg%3E");
$dropdown-chevron-black: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22' fill='none'%3E%3Cpath d='M11 15.1251L4.125 8.2501L5.0875 7.2876L11 13.2001L16.9125 7.2876L17.875 8.2501L11 15.1251Z' fill='%23201F1E'/%3E%3C/svg%3E");


// Icons
$icomoon-font-family: "turing-health-iconset" !default;
$icomoon-font-path: "fonts" !default;

$th-d-cursor--alt: "\e900";
$th-d-cursor: "\e901";
$th-d-curve--auto-colon: "\e902";
$th-d-curve--auto-vessels: "\e903";
$th-d-curve--manual: "\e904";
$th-d-ica: "\e905";
$th-d-mpr-toggle: "\e906";
$th-d-print-mesh: "\e907";
$th-d-software: "\e908";
$th-rd-party-connected: "\e909";
$th-k--filled: "\e90a";
$th-k: "\e90b";
$th-Accessibility--alt: "\e90c";
$th-Accessibility--color--filled: "\e90d";
$th-Accessibility--color: "\e90e";
$th-Accessibility: "\e90f";
$th-Account: "\e910";
$th-Accumulation--ice: "\e911";
$th-Accumulation--precipitation: "\e912";
$th-Accumulation--rain: "\e913";
$th-Accumulation--snow: "\e914";
$th-Activity: "\e915";
$th-Add--alt: "\e916";
$th-Add--filled: "\e917";
$th-Add-comment: "\e918";
$th-Add: "\e919";
$th-Agriculture-analytics: "\e91a";
$th-Ai-results--high: "\e91b";
$th-Ai-results--low: "\e91c";
$th-Ai-results--medium: "\e91d";
$th-Ai-results--urgent: "\e91e";
$th-Ai-results--very-high: "\e91f";
$th-Ai-results: "\e920";
$th-Ai-status--complete: "\e921";
$th-Ai-status--failed: "\e922";
$th-Ai-status--in-progress: "\e923";
$th-Ai-status--queued: "\e924";
$th-Ai-status--rejected: "\e925";
$th-Ai-status: "\e926";
$th-Airline--digital-gate: "\e927";
$th-Airline--manage-gates: "\e928";
$th-Airline--passenger-care: "\e929";
$th-Airline--rapid-board: "\e92a";
$th-Airplay--filled: "\e92b";
$th-Airplay: "\e92c";
$th-Airport--01: "\e92d";
$th-Airport--02: "\e92e";
$th-Airport-location: "\e92f";
$th-Alarm--add: "\e930";
$th-Alarm--subtract: "\e931";
$th-Alarm: "\e932";
$th-Align--horizontal-center: "\e933";
$th-Align--horizontal-left: "\e934";
$th-Align--horizontal-right: "\e935";
$th-Align--vertical-bottom: "\e936";
$th-Align--vertical-center: "\e937";
$th-Align--vertical-top: "\e938";
$th-Align-box--bottom-center: "\e939";
$th-Align-box--bottom-left: "\e93a";
$th-Align-box--bottom-right: "\e93b";
$th-Align-box--middle-center: "\e93c";
$th-Align-box--middle-left: "\e93d";
$th-Align-box--middle-right: "\e93e";
$th-Align-box--top-center: "\e93f";
$th-Align-box--top-left: "\e940";
$th-Align-box--top-right: "\e941";
$th-Analytics--custom: "\e942";
$th-Analytics--reference: "\e943";
$th-Analytics: "\e944";
$th-Angle: "\e945";
$th-Annotation-visibility: "\e946";
$th-Aperture: "\e947";
$th-Api--1: "\e948";
$th-Api: "\e949";
$th-App-connectivity: "\e94a";
$th-App: "\e94b";
$th-Apple: "\e94c";
$th-Application--mobile: "\e94d";
$th-Application--virtual: "\e94e";
$th-Application--web: "\e94f";
$th-Application: "\e950";
$th-Apps: "\e951";
$th-Archive: "\e952";
$th-Area--custom: "\e953";
$th-Area: "\e954";
$th-Arrival: "\e955";
$th-Arrow--annotation: "\e956";
$th-Arrow--down-left: "\e957";
$th-Arrow--down-right: "\e958";
$th-Arrow--down: "\e959";
$th-Arrow--left: "\e95a";
$th-Arrow--right: "\e95b";
$th-Arrow--up-left: "\e95c";
$th-Arrow--up-right: "\e95d";
$th-Arrow--up: "\e95e";
$th-Arrow-shift-down: "\e95f";
$th-Arrows--horizontal: "\e960";
$th-Arrows--vertical: "\e961";
$th-Asleep--filled: "\e962";
$th-Asleep: "\e963";
$th-Assembly--cluster: "\e964";
$th-Assembly--reference: "\e965";
$th-Assembly: "\e966";
$th-Asset--confirm: "\e967";
$th-Asset--digital-twin: "\e968";
$th-Asset--view: "\e969";
$th-Asset: "\e96a";
$th-Asterisk: "\e96b";
$th-At: "\e96c";
$th-Attachment: "\e96d";
$th-Audio-console: "\e96e";
$th-Augmented-reality: "\e96f";
$th-Auto-scroll: "\e970";
$th-Automatic: "\e971";
$th-Autoscaling: "\e972";
$th-Awake: "\e973";
$th-Badge: "\e974";
$th-Baggage-claim: "\e975";
$th-Bar: "\e976";
$th-Barcode: "\e977";
$th-Bare-metal-server--01: "\e978";
$th-Bare-metal-server--02: "\e979";
$th-Bare-metal-server: "\e97a";
$th-Barrier: "\e97b";
$th-Basketball: "\e97c";
$th-Bastion-host: "\e97d";
$th-Bat: "\e97e";
$th-Battery--charging: "\e97f";
$th-Battery--empty: "\e980";
$th-Battery--full: "\e981";
$th-Battery--half: "\e982";
$th-Battery--low: "\e983";
$th-Battery--quarter: "\e984";
$th-Bee-bat: "\e985";
$th-Bee: "\e986";
$th-Beta: "\e987";
$th-Bicycle: "\e988";
$th-Binoculars: "\e989";
$th-Bloch-sphere: "\e98a";
$th-Block-storage--alt: "\e98b";
$th-Block-storage: "\e98c";
$th-Blockchain: "\e98d";
$th-Blog: "\e98e";
$th-Bluetooth--off: "\e98f";
$th-Bluetooth: "\e990";
$th-Book: "\e991";
$th-Bookmark--add: "\e992";
$th-Bookmark--filled: "\e993";
$th-Bookmark: "\e994";
$th-Boolean: "\e995";
$th-Boot: "\e996";
$th-Border--bottom: "\e997";
$th-Border--full: "\e998";
$th-Border--left: "\e999";
$th-Border--none: "\e99a";
$th-Border--right: "\e99b";
$th-Border--top: "\e99c";
$th-Bot: "\e99d";
$th-Box--extra-large: "\e99e";
$th-Box--large: "\e99f";
$th-Box--medium: "\e9a0";
$th-Box--small: "\e9a1";
$th-Box-plot: "\e9a2";
$th-Box: "\e9a3";
$th-Branch: "\e9a4";
$th-Breaking-change: "\e9a5";
$th-Brightness-contrast: "\e9a6";
$th-Bring-forward: "\e9a7";
$th-Bring-to-front: "\e9a8";
$th-Brush-freehand: "\e9a9";
$th-Brush-polygon: "\e9aa";
$th-Building--insights-1: "\e9ab";
$th-Building--insights-2: "\e9ac";
$th-Building--insights-3: "\e9ad";
$th-Building: "\e9ae";
$th-Bullhorn: "\e9af";
$th-Buoy: "\e9b0";
$th-Bus: "\e9b1";
$th-Button--centered: "\e9b2";
$th-Button--flush-left: "\e9b3";
$th-Cabin-care--alert: "\e9b4";
$th-Cabin-care--alt: "\e9b5";
$th-Cabin-care: "\e9b6";
$th-Cad: "\e9b7";
$th-Cafe: "\e9b8";
$th-Calculation--alt: "\e9b9";
$th-Calculation: "\e9ba";
$th-Calculator--check: "\e9bb";
$th-Calculator: "\e9bc";
$th-Calendar--add--alt: "\e9bd";
$th-Calendar--add: "\e9be";
$th-Calendar--heat-map: "\e9bf";
$th-Calendar--settings: "\e9c0";
$th-Calendar--tools: "\e9c1";
$th-Calendar: "\e9c2";
$th-Calibrate: "\e9c3";
$th-Camera--action: "\e9c4";
$th-Camera: "\e9c5";
$th-Campsite: "\e9c6";
$th-Car--front: "\e9c7";
$th-Car: "\e9c8";
$th-Carbon-accounting: "\e9c9";
$th-Carbon-for-ibm-dotcom: "\e9ca";
$th-Carbon-for-ibm-product: "\e9cb";
$th-Carbon: "\e9cc";
$th-Caret--down: "\e9cd";
$th-Caret--left: "\e9ce";
$th-Caret--right: "\e9cf";
$th-Caret--sort--down: "\e9d0";
$th-Caret--sort--up: "\e9d1";
$th-Caret--sort: "\e9d2";
$th-Caret--up: "\e9d3";
$th-Carousel--horizontal: "\e9d4";
$th-Carousel--vertical: "\e9d5";
$th-Catalog: "\e9d6";
$th-Categories: "\e9d7";
$th-Category--add: "\e9d8";
$th-Category--and: "\e9d9";
$th-Category--new-each: "\e9da";
$th-Category--new: "\e9db";
$th-Category: "\e9dc";
$th-Caution-inverted: "\e9dd";
$th-Caution: "\e9de";
$th-Ccx: "\e9df";
$th-Cd--archive: "\e9e0";
$th-Cd--create-archive: "\e9e1";
$th-Cd--create-exchange: "\e9e2";
$th-Cda: "\e9e3";
$th-Cell-tower: "\e9e4";
$th-Center--circle: "\e9e5";
$th-Center--square: "\e9e6";
$th-Center-to-fit: "\e9e7";
$th-Certificate--check: "\e9e8";
$th-Certificate: "\e9e9";
$th-Change-catalog: "\e9ea";
$th-Character--decimal: "\e9eb";
$th-Character--fraction: "\e9ec";
$th-Character--integer: "\e9ed";
$th-Character--lower-case: "\e9ee";
$th-Character--negative-number: "\e9ef";
$th-Character--sentence-case: "\e9f0";
$th-Character--upper-case: "\e9f1";
$th-Character--whole-number: "\e9f2";
$th-Character-patterns: "\e9f3";
$th-Charging-station--filled: "\e9f4";
$th-Charging-station: "\e9f5";
$th-Chart--3d: "\e9f6";
$th-Chart--area-smooth: "\e9f7";
$th-Chart--area-stepper: "\e9f8";
$th-Chart--area: "\e9f9";
$th-Chart--average: "\e9fa";
$th-Chart--bar-floating: "\e9fb";
$th-Chart--bar-overlay: "\e9fc";
$th-Chart--bar-stacked: "\e9fd";
$th-Chart--bar-target: "\e9fe";
$th-Chart--bar: "\e9ff";
$th-Chart--bubble-packed: "\ea00";
$th-Chart--bubble: "\ea01";
$th-Chart--bullet: "\ea02";
$th-Chart--candlestick: "\ea03";
$th-Chart--cluster-bar: "\ea04";
$th-Chart--column-floating: "\ea05";
$th-Chart--column-target: "\ea06";
$th-Chart--column: "\ea07";
$th-Chart--combo-stacked: "\ea08";
$th-Chart--combo: "\ea09";
$th-Chart--custom: "\ea0a";
$th-Chart--error-bar--alt: "\ea0b";
$th-Chart--error-bar: "\ea0c";
$th-Chart--evaluation: "\ea0d";
$th-Chart--high-low: "\ea0e";
$th-Chart--histogram: "\ea0f";
$th-Chart--line--data: "\ea10";
$th-Chart--line-smooth: "\ea11";
$th-Chart--line: "\ea12";
$th-Chart--marimekko: "\ea13";
$th-Chart--maximum: "\ea14";
$th-Chart--median: "\ea15";
$th-Chart--minimum: "\ea16";
$th-Chart--multi-line: "\ea17";
$th-Chart--multitype: "\ea18";
$th-Chart--network: "\ea19";
$th-Chart--parallel: "\ea1a";
$th-Chart--pie: "\ea1b";
$th-Chart--point: "\ea1c";
$th-Chart--population: "\ea1d";
$th-Chart--radar: "\ea1e";
$th-Chart--radial: "\ea1f";
$th-Chart--relationship: "\ea20";
$th-Chart--ring: "\ea21";
$th-Chart--river: "\ea22";
$th-Chart--rose: "\ea23";
$th-Chart--scatter: "\ea24";
$th-Chart--spiral: "\ea25";
$th-Chart--stacked: "\ea26";
$th-Chart--stepper: "\ea27";
$th-Chart--sunburst: "\ea28";
$th-Chart--t-sne: "\ea29";
$th-Chart--treemap: "\ea2a";
$th-Chart--venn-diagram: "\ea2b";
$th-Chart--violin-plot: "\ea2c";
$th-Chart--waterfall: "\ea2d";
$th-Chart--win-loss: "\ea2e";
$th-Chat--launch: "\ea2f";
$th-Chat--off: "\ea30";
$th-Chat--operational: "\ea31";
$th-Chat-bot: "\ea32";
$th-Chat: "\ea33";
$th-Checkbox--checked--filled: "\ea34";
$th-Checkbox--checked: "\ea35";
$th-Checkbox--indeterminate--filled: "\ea36";
$th-Checkbox--indeterminate: "\ea37";
$th-Checkbox: "\ea38";
$th-Checkmark--filled--error: "\ea39";
$th-Checkmark--filled--warning: "\ea3a";
$th-Checkmark--filled: "\ea3b";
$th-Checkmark--outline--error: "\ea3c";
$th-Checkmark--outline--warning: "\ea3d";
$th-Checkmark--outline: "\ea3e";
$th-Checkmark: "\ea3f";
$th-Chemistry--reference: "\ea40";
$th-Chemistry: "\ea41";
$th-Chevron--down: "\ea42";
$th-Chevron--left: "\ea43";
$th-Chevron--mini: "\ea44";
$th-Chevron--right: "\ea45";
$th-Chevron--sort--down: "\ea46";
$th-Chevron--sort--up: "\ea47";
$th-Chevron--sort: "\ea48";
$th-Chevron--up: "\ea49";
$th-Chip: "\ea4a";
$th-Choices: "\ea4b";
$th-Choose-item: "\ea4c";
$th-Choropleth-map: "\ea4d";
$th-Cics--cmas: "\ea4e";
$th-Cics--explorer: "\ea4f";
$th-Cics--system-group: "\ea50";
$th-Cics--wui-region: "\ea51";
$th-Cics-region--routing: "\ea52";
$th-Cics-region--target: "\ea53";
$th-Cics-region: "\ea54";
$th-Cicsplex: "\ea55";
$th-Circle--filled: "\ea56";
$th-Circle--solid: "\ea57";
$th-Circle-dash: "\ea58";
$th-Circle-fill: "\ea59";
$th-Circle-measurement: "\ea5a";
$th-Circle-packing: "\ea5b";
$th-Circle-stroke: "\ea5c";
$th-Circuit-composer: "\ea5d";
$th-Classification: "\ea5e";
$th-Classifier--language: "\ea5f";
$th-Clean: "\ea60";
$th-Close--filled: "\ea61";
$th-Close--outline: "\ea62";
$th-Close: "\ea63";
$th-Closed-caption--alt: "\ea64";
$th-Closed-caption--filled: "\ea65";
$th-Closed-caption: "\ea66";
$th-Cloud--alerting: "\ea67";
$th-Cloud--auditing: "\ea68";
$th-Cloud--data-ops: "\ea69";
$th-Cloud--download: "\ea6a";
$th-Cloud--logging: "\ea6b";
$th-Cloud--monitoring: "\ea6c";
$th-Cloud--offline: "\ea6d";
$th-Cloud--service-management: "\ea6e";
$th-Cloud--upload: "\ea6f";
$th-Cloud-app: "\ea70";
$th-Cloud-ceiling: "\ea71";
$th-Cloud-foundry--1: "\ea72";
$th-Cloud-foundry--2: "\ea73";
$th-Cloud-registry: "\ea74";
$th-Cloud-satellite--config: "\ea75";
$th-Cloud-satellite--link: "\ea76";
$th-Cloud-satellite--services: "\ea77";
$th-Cloud-satellite: "\ea78";
$th-Cloud-services: "\ea79";
$th-Cloud: "\ea7a";
$th-Cloudy: "\ea7b";
$th-Cobb-angle: "\ea7c";
$th-Code--hide: "\ea7d";
$th-Code--reference: "\ea7e";
$th-Code-signing-service: "\ea7f";
$th-Code: "\ea80";
$th-Cognitive: "\ea81";
$th-Collaborate: "\ea82";
$th-Collapse-all: "\ea83";
$th-Collapse-categories: "\ea84";
$th-Color-palette: "\ea85";
$th-Color-switch: "\ea86";
$th-Column--delete: "\ea87";
$th-Column--insert: "\ea88";
$th-Column-dependency: "\ea89";
$th-Column: "\ea8a";
$th-Commit: "\ea8b";
$th-Communication--unified: "\ea8c";
$th-Compare: "\ea8d";
$th-Compass: "\ea8e";
$th-Composer-edit: "\ea8f";
$th-Concept: "\ea90";
$th-Condition--point: "\ea91";
$th-Condition--wait-point: "\ea92";
$th-Connect--recursive: "\ea93";
$th-Connect--source: "\ea94";
$th-Connect--target: "\ea95";
$th-Connect: "\ea96";
$th-Connection--receive: "\ea97";
$th-Connection--send: "\ea98";
$th-Connection--two-way: "\ea99";
$th-Connection-signal--off: "\ea9a";
$th-Connection-signal: "\ea9b";
$th-Construction: "\ea9c";
$th-Container-registry: "\ea9d";
$th-Container-services: "\ea9e";
$th-Container-software: "\ea9f";
$th-Content-delivery-network: "\eaa0";
$th-Content-view: "\eaa1";
$th-Continue--filled: "\eaa2";
$th-Continue: "\eaa3";
$th-Contour--draw: "\eaa4";
$th-Contour--edit: "\eaa5";
$th-Contour-finding: "\eaa6";
$th-Contrast: "\eaa7";
$th-Convert-to-cloud: "\eaa8";
$th-Cookie: "\eaa9";
$th-Copy--file: "\eaaa";
$th-Copy--link: "\eaab";
$th-Copy: "\eaac";
$th-Corn: "\eaad";
$th-Corner: "\eaae";
$th-Coronavirus: "\eaaf";
$th-Cost--total: "\eab0";
$th-Cost: "\eab1";
$th-Cough: "\eab2";
$th-Course: "\eab3";
$th-Covariate: "\eab4";
$th-Credentials: "\eab5";
$th-Critical-severity: "\eab6";
$th-Critical: "\eab7";
$th-Crop-growth: "\eab8";
$th-Crop-health: "\eab9";
$th-Crop: "\eaba";
$th-Cross-reference: "\eabb";
$th-Cross-tab: "\eabc";
$th-Crossroads: "\eabd";
$th-Crowd-report--filled: "\eabe";
$th-Crowd-report: "\eabf";
$th-Csv: "\eac0";
$th-Cu1: "\eac1";
$th-Cu3: "\eac2";
$th-Cube-view: "\eac3";
$th-Cube: "\eac4";
$th-Currency--baht: "\eac5";
$th-Currency--dollar: "\eac6";
$th-Currency--euro: "\eac7";
$th-Currency--lira: "\eac8";
$th-Currency--pound: "\eac9";
$th-Currency--ruble: "\eaca";
$th-Currency--rupee: "\eacb";
$th-Currency--shekel: "\eacc";
$th-Currency--won: "\eacd";
$th-Currency--yen: "\eace";
$th-Currency: "\eacf";
$th-Cursor--1: "\ead0";
$th-Cursor--2: "\ead1";
$th-Cut-in-half: "\ead2";
$th-Cut-out: "\ead3";
$th-Cut: "\ead4";
$th-Cy: "\ead5";
$th-Cyclist: "\ead6";
$th-Cz: "\ead7";
$th-Dashboard--reference: "\ead8";
$th-Dashboard: "\ead9";
$th-Data--1: "\eada";
$th-Data--2: "\eadb";
$th-Data--base--alt: "\eadc";
$th-Data--base: "\eadd";
$th-Data--center: "\eade";
$th-Data--check: "\eadf";
$th-Data--connected: "\eae0";
$th-Data--error: "\eae1";
$th-Data--format: "\eae2";
$th-Data--reference: "\eae3";
$th-Data--set: "\eae4";
$th-Data--structured: "\eae5";
$th-Data--unstructured: "\eae6";
$th-Data--view--alt: "\eae7";
$th-Data--view: "\eae8";
$th-Data-accessor: "\eae9";
$th-Data-backup: "\eaea";
$th-Data-bin: "\eaeb";
$th-Data-blob: "\eaec";
$th-Data-class: "\eaed";
$th-Data-collection: "\eaee";
$th-Data-definition: "\eaef";
$th-Data-diode: "\eaf0";
$th-Data-enrichment--add: "\eaf1";
$th-Data-enrichment: "\eaf2";
$th-Data-player: "\eaf3";
$th-Data-quality-definition: "\eaf4";
$th-Data-refinery--reference: "\eaf5";
$th-Data-refinery: "\eaf6";
$th-Data-share: "\eaf7";
$th-Data-table--reference: "\eaf8";
$th-Data-table: "\eaf9";
$th-Data-vis--1: "\eafa";
$th-Data-vis--2: "\eafb";
$th-Data-vis--3: "\eafc";
$th-Data-vis--4: "\eafd";
$th-Database--datastax: "\eafe";
$th-Database--elastic: "\eaff";
$th-Database--enterprise-db2: "\eb00";
$th-Database--etcd: "\eb01";
$th-Database--mongodb: "\eb02";
$th-Database--postgresql: "\eb03";
$th-Database--rabbit: "\eb04";
$th-Database--redis: "\eb05";
$th-Datastore: "\eb06";
$th-Debug: "\eb07";
$th-Decision-tree: "\eb08";
$th-Delivery--add: "\eb09";
$th-Delivery--parcel: "\eb0a";
$th-Delivery-truck: "\eb0b";
$th-Delivery: "\eb0c";
$th-Denominate: "\eb0d";
$th-Departure: "\eb0e";
$th-Deploy-rules: "\eb0f";
$th-Deploy: "\eb10";
$th-Deployment-pattern: "\eb11";
$th-Deployment-policy: "\eb12";
$th-Deployment-unit--data: "\eb13";
$th-Deployment-unit--execution: "\eb14";
$th-Deployment-unit--installation1: "\eb15";
$th-Deployment-unit--presentation: "\eb16";
$th-Deployment-unit--technical--data: "\eb17";
$th-Deployment-unit--technical--execution: "\eb18";
$th-Deployment-unit--technical--installation: "\eb19";
$th-Deployment-unit--technical--presentation: "\eb1a";
$th-Desk--adjustable: "\eb1b";
$th-Development: "\eb1c";
$th-Devices: "\eb1d";
$th-Dew-point--filled: "\eb1e";
$th-Dew-point: "\eb1f";
$th-Diagram--reference: "\eb20";
$th-Diagram: "\eb21";
$th-Dicom--6000: "\eb22";
$th-Dicom--overlay: "\eb23";
$th-Direct-link: "\eb24";
$th-Direction--bear-right--01--filled: "\eb25";
$th-Direction--bear-right--01: "\eb26";
$th-Direction--bear-right--02--filled: "\eb27";
$th-Direction--bear-right--02: "\eb28";
$th-Direction--curve--filled: "\eb29";
$th-Direction--curve: "\eb2a";
$th-Direction--fork--filled: "\eb2b";
$th-Direction--fork: "\eb2c";
$th-Direction--loop-left--filled: "\eb2d";
$th-Direction--loop-left: "\eb2e";
$th-Direction--loop-right--filled: "\eb2f";
$th-Direction--loop-right: "\eb30";
$th-Direction--merge--filled: "\eb31";
$th-Direction--merge: "\eb32";
$th-Direction--right--01--filled: "\eb33";
$th-Direction--right--01: "\eb34";
$th-Direction--right--02--filled: "\eb35";
$th-Direction--right--02: "\eb36";
$th-Direction--rotary--first-right--filled: "\eb37";
$th-Direction--rotary--first-right: "\eb38";
$th-Direction--rotary--right--filled: "\eb39";
$th-Direction--rotary--right: "\eb3a";
$th-Direction--rotary--straight--filled: "\eb3b";
$th-Direction--rotary--straight: "\eb3c";
$th-Direction--sharp-turn--filled: "\eb3d";
$th-Direction--sharp-turn: "\eb3e";
$th-Direction--straight--filled: "\eb3f";
$th-Direction--straight--right--filled: "\eb40";
$th-Direction--straight--right: "\eb41";
$th-Direction--straight: "\eb42";
$th-Direction--u-turn--filled: "\eb43";
$th-Direction--u-turn: "\eb44";
$th-Directory-domain: "\eb45";
$th-Distribute--horizontal-center: "\eb46";
$th-Distribute--horizontal-left: "\eb47";
$th-Distribute--horizontal-right: "\eb48";
$th-Distribute--vertical-bottom: "\eb49";
$th-Distribute--vertical-center: "\eb4a";
$th-Distribute--vertical-top: "\eb4b";
$th-Dna: "\eb4c";
$th-Dns-services: "\eb4d";
$th-Doc: "\eb4e";
$th-Document--add: "\eb4f";
$th-Document--attachment: "\eb50";
$th-Document--audio: "\eb51";
$th-Document--blank: "\eb52";
$th-Document--download: "\eb53";
$th-Document--epdf: "\eb54";
$th-Document--export: "\eb55";
$th-Document--horizontal: "\eb56";
$th-Document--import: "\eb57";
$th-Document--pdf: "\eb58";
$th-Document--preliminary: "\eb59";
$th-Document--protected: "\eb5a";
$th-Document--security: "\eb5b";
$th-Document--signed: "\eb5c";
$th-Document--sketch: "\eb5d";
$th-Document--subtract: "\eb5e";
$th-Document--tasks: "\eb5f";
$th-Document--unknown: "\eb60";
$th-Document--unprotected: "\eb61";
$th-Document--vertical: "\eb62";
$th-Document--video: "\eb63";
$th-Document--view: "\eb64";
$th-Document--word-processor--reference: "\eb65";
$th-Document--word-processor: "\eb66";
$th-Document-sentiment: "\eb67";
$th-Document: "\eb68";
$th-Dog-walker: "\eb69";
$th-Dot-mark: "\eb6a";
$th-Double-integer: "\eb6b";
$th-Down-to-bottom: "\eb6c";
$th-Download-study: "\eb6d";
$th-Download: "\eb6e";
$th-Drag--horizontal: "\eb6f";
$th-Drag--vertical: "\eb70";
$th-Draggable: "\eb71";
$th-Draw: "\eb72";
$th-Drill-back: "\eb73";
$th-Drill-down: "\eb74";
$th-Drill-through: "\eb75";
$th-Driver-analysis: "\eb76";
$th-Drone--delivery: "\eb77";
$th-Drone--front: "\eb78";
$th-Drone--video: "\eb79";
$th-Drone: "\eb7a";
$th-Drop-photo--filled: "\eb7b";
$th-Drop-photo: "\eb7c";
$th-Drought: "\eb7d";
$th-Dvr: "\eb7e";
$th-Earth--americas--filled: "\eb7f";
$th-Earth--americas: "\eb80";
$th-Earth--europe-africa--filled: "\eb81";
$th-Earth--europe-africa: "\eb82";
$th-Earth--filled: "\eb83";
$th-Earth--southeast-asia--filled: "\eb84";
$th-Earth--southeast-asia: "\eb85";
$th-Earth: "\eb86";
$th-Earthquake: "\eb87";
$th-Edge-cluster: "\eb88";
$th-Edge-device: "\eb89";
$th-Edge-enhancement--01: "\eb8a";
$th-Edge-enhancement--02: "\eb8b";
$th-Edge-enhancement--03: "\eb8c";
$th-Edge-enhancement: "\eb8d";
$th-Edge-node--alt: "\eb8e";
$th-Edge-node: "\eb8f";
$th-Edge-service: "\eb90";
$th-Edit--off: "\eb91";
$th-Edit: "\eb92";
$th-Edt-loop: "\eb93";
$th-Education: "\eb94";
$th-Email--new: "\eb95";
$th-Email: "\eb96";
$th-Encryption: "\eb97";
$th-Energy--renewable: "\eb98";
$th-Enterprise: "\eb99";
$th-Equalizer: "\eb9a";
$th-Erase--3d: "\eb9b";
$th-Erase: "\eb9c";
$th-Error--filled: "\eb9d";
$th-Error--outline: "\eb9e";
$th-Error: "\eb9f";
$th-Event--schedule: "\eba0";
$th-Event: "\eba1";
$th-Events--alt: "\eba2";
$th-Events: "\eba3";
$th-Exam-mode: "\eba4";
$th-Exit: "\eba5";
$th-Expand-all: "\eba6";
$th-Expand-categories: "\eba7";
$th-Explore: "\eba8";
$th-Export: "\eba9";
$th-Eyedropper: "\ebaa";
$th-Face--activated--add: "\ebab";
$th-Face--activated--filled: "\ebac";
$th-Face--activated: "\ebad";
$th-Face--add: "\ebae";
$th-Face--cool: "\ebaf";
$th-Face--dissatisfied--filled: "\ebb0";
$th-Face--dissatisfied: "\ebb1";
$th-Face--dizzy--filled: "\ebb2";
$th-Face--dizzy: "\ebb3";
$th-Face--mask: "\ebb4";
$th-Face--neutral--filled: "\ebb5";
$th-Face--neutral: "\ebb6";
$th-Face--pending--filled: "\ebb7";
$th-Face--pending: "\ebb8";
$th-Face--satisfied--filled: "\ebb9";
$th-Face--satisfied: "\ebba";
$th-Face--wink--filled: "\ebbb";
$th-Face--wink: "\ebbc";
$th-Factor: "\ebbd";
$th-Fade: "\ebbe";
$th-Favorite--filled: "\ebbf";
$th-Favorite--half: "\ebc0";
$th-Favorite: "\ebc1";
$th-Fetch-upload--cloud: "\ebc2";
$th-Fetch-upload: "\ebc3";
$th-File-storage: "\ebc4";
$th-Filter--edit: "\ebc5";
$th-Filter--remove: "\ebc6";
$th-Filter--reset: "\ebc7";
$th-Filter: "\ebc8";
$th-Finance: "\ebc9";
$th-Fingerprint-recognition: "\ebca";
$th-Fire: "\ebcb";
$th-Firewall--classic: "\ebcc";
$th-Firewall: "\ebcd";
$th-Fish--multiple: "\ebce";
$th-Fish: "\ebcf";
$th-Fit-to-height: "\ebd0";
$th-Fit-to-screen: "\ebd1";
$th-Fit-to-width1: "\ebd2";
$th-Flag--filled: "\ebd3";
$th-Flag: "\ebd4";
$th-Flagging-taxi: "\ebd5";
$th-Flash--filled: "\ebd6";
$th-Flash--off--filled: "\ebd7";
$th-Flash--off: "\ebd8";
$th-Flash: "\ebd9";
$th-Flight--international: "\ebda";
$th-Flight--roster: "\ebdb";
$th-Flight--schedule: "\ebdc";
$th-Floating-ip: "\ebdd";
$th-Flood--warning: "\ebde";
$th-Flood: "\ebdf";
$th-Floorplan: "\ebe0";
$th-Flow--connection: "\ebe1";
$th-Flow--data: "\ebe2";
$th-Flow--modeler: "\ebe3";
$th-Flow--stream--reference: "\ebe4";
$th-Flow--stream: "\ebe5";
$th-Flow-logs-vpc: "\ebe6";
$th-Flow: "\ebe7";
$th-Fog: "\ebe8";
$th-Folder--add: "\ebe9";
$th-Folder--details--reference: "\ebea";
$th-Folder--details: "\ebeb";
$th-Folder--move-to: "\ebec";
$th-Folder--off: "\ebed";
$th-Folder--open: "\ebee";
$th-Folder--parent: "\ebef";
$th-Folder--shared: "\ebf0";
$th-Folder: "\ebf1";
$th-Folders: "\ebf2";
$th-Forecast--hail-30: "\ebf3";
$th-Forecast--hail: "\ebf4";
$th-Forecast--lightning-30: "\ebf5";
$th-Forecast--lightning: "\ebf6";
$th-Fork: "\ebf7";
$th-Forum: "\ebf8";
$th-Forward--5: "\ebf9";
$th-Forward--10: "\ebfa";
$th-Forward--30: "\ebfb";
$th-Fragile: "\ebfc";
$th-Friendship: "\ebfd";
$th-Fruit-bowl: "\ebfe";
$th-Function-math: "\ebff";
$th-Function: "\ec00";
$th-Fusion-blender: "\ec01";
$th-Game--console: "\ec02";
$th-Game--wireless: "\ec03";
$th-Gamification: "\ec04";
$th-Gas-station--filled: "\ec05";
$th-Gas-station: "\ec06";
$th-Gateway--api: "\ec07";
$th-Gateway--mail: "\ec08";
$th-Gateway--public: "\ec09";
$th-Gateway--security: "\ec0a";
$th-Gateway--user-access: "\ec0b";
$th-Gateway--vpn: "\ec0c";
$th-Gateway: "\ec0d";
$th-Gender--female: "\ec0e";
$th-Gender--male: "\ec0f";
$th-Generate-pdf: "\ec10";
$th-Gif: "\ec11";
$th-Gift: "\ec12";
$th-Globe: "\ec13";
$th-Gradient: "\ec14";
$th-Graphical-data-flow: "\ec15";
$th-Grid: "\ec16";
$th-Group--access: "\ec17";
$th-Group--account: "\ec18";
$th-Group--presentation: "\ec19";
$th-Group--resource: "\ec1a";
$th-Group--security: "\ec1b";
$th-Group-objects--new: "\ec1c";
$th-Group-objects--save: "\ec1d";
$th-Group-objects: "\ec1e";
$th-Group: "\ec1f";
$th-Growth: "\ec20";
$th-Gui--management: "\ec21";
$th-Gui: "\ec22";
$th-H: "\ec23";
$th-Hail: "\ec24";
$th-Hanging-protocol: "\ec25";
$th-Harbor: "\ec26";
$th-Hardware-security-module: "\ec27";
$th-Hashtag: "\ec28";
$th-Haze--night: "\ec29";
$th-Haze: "\ec2a";
$th-Hd--filled: "\ec2b";
$th-Hd: "\ec2c";
$th-Hdr: "\ec2d";
$th-Headphones: "\ec2e";
$th-Headset: "\ec2f";
$th-Health-cross: "\ec30";
$th-Hearing: "\ec31";
$th-Heat-map--02: "\ec32";
$th-Heat-map--03: "\ec33";
$th-Heat-map--stocks: "\ec34";
$th-Heat-map: "\ec35";
$th-Helicopter: "\ec36";
$th-Help--filled: "\ec37";
$th-Help-desk: "\ec38";
$th-Help: "\ec39";
$th-Hinton-plot: "\ec3a";
$th-HL7-attributes: "\ec3b";
$th-Hole-filling--cursor: "\ec3c";
$th-Hole-filling: "\ec3d";
$th-Home: "\ec3e";
$th-Horizontal-view: "\ec3f";
$th-Hospital-bed: "\ec40";
$th-Hospital: "\ec41";
$th-Hotel: "\ec42";
$th-Hourglass: "\ec43";
$th-Html--reference: "\ec44";
$th-Html: "\ec45";
$th-Http: "\ec46";
$th-Humidity--alt: "\ec47";
$th-Humidity: "\ec48";
$th-Hurricane: "\ec49";
$th-Hybrid-networking--alt: "\ec4a";
$th-Hybrid-networking: "\ec4b";
$th-IBM--data-replication: "\ec4c";
$th-IBM--match-360: "\ec4d";
$th-IBM--open-enterprise-languages: "\ec4e";
$th-IBM-cloud--dedicated-host: "\ec4f";
$th-IBM-cloud--internet-services: "\ec50";
$th-IBM-cloud--kubernetes-service: "\ec51";
$th-IBM-cloud--security-compliance-center: "\ec52";
$th-IBM-cloud--subnets: "\ec53";
$th-IBM-cloud--transit-gateway: "\ec54";
$th-IBM-cloud--vpc-endpoints: "\ec55";
$th-IBM-cloud-pak--applications: "\ec56";
$th-IBM-cloud-pak--business-automation: "\ec57";
$th-IBM-cloud-pak--data: "\ec58";
$th-IBM-cloud-pak--integration: "\ec59";
$th-IBM-cloud-pak--MANTA-automated-data-lineage: "\ec5a";
$th-IBM-cloud-pak--multicloud-mgmt: "\ec5b";
$th-IBM-cloud-pak--network-automation: "\ec5c";
$th-IBM-cloud-pak--security: "\ec5d";
$th-IBM-cloud-pak--system: "\ec5e";
$th-IBM-cloud-pak--watson-aiops: "\ec5f";
$th-IBM-cloud: "\ec60";
$th-IBM-security--services: "\ec61";
$th-IBM-security: "\ec62";
$th-IBM-watson--orders: "\ec63";
$th-IBM-z--cloud-mod-stack: "\ec64";
$th-IBM-z-cloud--provisioning: "\ec65";
$th-IBM-z-os--package-manager: "\ec66";
$th-Ica-2d: "\ec67";
$th-Ice--accretion: "\ec68";
$th-Ice--vision: "\ec69";
$th-Id-management: "\ec6a";
$th-Id: "\ec6b";
$th-Idea: "\ec6c";
$th-Identification: "\ec6d";
$th-Image--copy: "\ec6e";
$th-Image--medical: "\ec6f";
$th-Image--reference: "\ec70";
$th-Image--search--alt: "\ec71";
$th-Image--search: "\ec72";
$th-Image-service: "\ec73";
$th-Image: "\ec74";
$th-Import-export: "\ec75";
$th-Improve-relevance: "\ec76";
$th-In-progress--error: "\ec77";
$th-In-progress--warning: "\ec78";
$th-In-progress: "\ec79";
$th-Incomplete--cancel: "\ec7a";
$th-Incomplete--error: "\ec7b";
$th-Incomplete--warning: "\ec7c";
$th-Incomplete: "\ec7d";
$th-Increase-level: "\ec7e";
$th-Industry: "\ec7f";
$th-Information--disabled: "\ec80";
$th-Information--filled: "\ec81";
$th-Information--square--filled: "\ec82";
$th-Information--square: "\ec83";
$th-Information: "\ec84";
$th-Infrastructure--classic: "\ec85";
$th-Insert--page: "\ec86";
$th-Insert-syntax: "\ec87";
$th-Insert: "\ec88";
$th-Inspection: "\ec89";
$th-Instance--bx: "\ec8a";
$th-Instance--classic: "\ec8b";
$th-Instance--cx: "\ec8c";
$th-Instance--mx: "\ec8d";
$th-Instance--virtual: "\ec8e";
$th-Integration: "\ec8f";
$th-Intent-request--active: "\ec90";
$th-Intent-request--create: "\ec91";
$th-Intent-request--heal: "\ec92";
$th-Intent-request--inactive: "\ec93";
$th-Intent-request--scale-in: "\ec94";
$th-Intent-request--scale-out: "\ec95";
$th-Intent-request--uninstall: "\ec96";
$th-Interactions: "\ec97";
$th-Interactive-segmentation-cursor: "\ec98";
$th-Intersect: "\ec99";
$th-Intrusion-prevention: "\ec9a";
$th-Inventory-management: "\ec9b";
$th-Iot--connect: "\ec9c";
$th-Iot--platform: "\ec9d";
$th-Iso--filled: "\ec9e";
$th-Iso--outline: "\ec9f";
$th-Iso: "\eca0";
$th-Join--full: "\eca1";
$th-Join--inner: "\eca2";
$th-Join--left: "\eca3";
$th-Join--outer: "\eca4";
$th-Join--right: "\eca5";
$th-Jpg: "\eca6";
$th-Json--reference: "\eca7";
$th-Json: "\eca8";
$th-Jump-link: "\eca9";
$th-Keep-dry: "\ecaa";
$th-Keyboard: "\ecab";
$th-Kubernetes: "\ecac";
$th-Label: "\ecad";
$th-Language: "\ecae";
$th-Laptop: "\ecaf";
$th-Lasso--polygon: "\ecb0";
$th-Lasso: "\ecb1";
$th-Launch-study--1: "\ecb2";
$th-Launch-study--2: "\ecb3";
$th-Launch-study--3: "\ecb4";
$th-Launch: "\ecb5";
$th-Layers: "\ecb6";
$th-Legend: "\ecb7";
$th-Letter--aa: "\ecb8";
$th-Letter--bb: "\ecb9";
$th-Letter--cc: "\ecba";
$th-Letter--dd: "\ecbb";
$th-Letter--ee: "\ecbc";
$th-Letter--ff: "\ecbd";
$th-Letter--gg: "\ecbe";
$th-Letter--hh: "\ecbf";
$th-Letter--ii: "\ecc0";
$th-Letter--jj: "\ecc1";
$th-Letter--kk: "\ecc2";
$th-Letter--ll: "\ecc3";
$th-Letter--mm: "\ecc4";
$th-Letter--nn: "\ecc5";
$th-Letter--oo: "\ecc6";
$th-Letter--pp: "\ecc7";
$th-Letter--qq: "\ecc8";
$th-Letter--rr: "\ecc9";
$th-Letter--ss: "\ecca";
$th-Letter--tt: "\eccb";
$th-Letter--uu: "\eccc";
$th-Letter--vv: "\eccd";
$th-Letter--ww: "\ecce";
$th-Letter--xx: "\eccf";
$th-Letter--yy: "\ecd0";
$th-Letter--zz: "\ecd1";
$th-License--draft: "\ecd2";
$th-License--global: "\ecd3";
$th-License--maintenance-draft: "\ecd4";
$th-License--maintenance: "\ecd5";
$th-License--third-party-draft: "\ecd6";
$th-License--third-party: "\ecd7";
$th-License: "\ecd8";
$th-Lifesaver: "\ecd9";
$th-Light--filled: "\ecda";
$th-Light: "\ecdb";
$th-Lightning: "\ecdc";
$th-Link: "\ecdd";
$th-Linux--alt: "\ecde";
$th-Linux: "\ecdf";
$th-List--boxes: "\ece0";
$th-List--bulleted: "\ece1";
$th-List--checked: "\ece2";
$th-List--dropdown: "\ece3";
$th-List--numbered: "\ece4";
$th-List: "\ece5";
$th-Load-balancer--application: "\ece6";
$th-Load-balancer--classic: "\ece7";
$th-Load-balancer--global: "\ece8";
$th-Load-balancer--listener: "\ece9";
$th-Load-balancer--local: "\ecea";
$th-Load-balancer--network: "\eceb";
$th-Load-balancer--pool: "\ecec";
$th-Load-balancer--vpc: "\eced";
$th-Loading-16: "\ecee";
$th-Location--company--filled: "\ecef";
$th-Location--company: "\ecf0";
$th-Location--current: "\ecf1";
$th-Location--filled: "\ecf2";
$th-Location--hazard--filled: "\ecf3";
$th-Location--hazard: "\ecf4";
$th-Location--heart--filled: "\ecf5";
$th-Location--heart: "\ecf6";
$th-Location--person--filled: "\ecf7";
$th-Location--person: "\ecf8";
$th-Location--save: "\ecf9";
$th-Location--star--filled: "\ecfa";
$th-Location--star: "\ecfb";
$th-Location: "\ecfc";
$th-Locked: "\ecfd";
$th-Logical-partition: "\ecfe";
$th-Login: "\ecff";
$th-Logo--digg: "\ed00";
$th-Logo--discord: "\ed01";
$th-Logo--facebook: "\ed02";
$th-Logo--flickr: "\ed03";
$th-Logo--github: "\ed04";
$th-Logo--glassdoor: "\ed05";
$th-Logo--instagram: "\ed06";
$th-Logo--jupyter: "\ed07";
$th-Logo--keybase: "\ed08";
$th-Logo--kubernetes: "\ed09";
$th-Logo--linkedin: "\ed0a";
$th-Logo--livestream: "\ed0b";
$th-Logo--medium: "\ed0c";
$th-Logo--openshift: "\ed0d";
$th-Logo--pinterest: "\ed0e";
$th-Logo--python: "\ed0f";
$th-Logo--quora: "\ed10";
$th-Logo--r-script: "\ed11";
$th-Logo--skype: "\ed12";
$th-Logo--slack: "\ed13";
$th-Logo--snapchat: "\ed14";
$th-Logo--tumblr: "\ed15";
$th-Logo--twitter: "\ed16";
$th-Logo--vmware: "\ed17";
$th-Logo--wechat: "\ed18";
$th-Logo--xing: "\ed19";
$th-Logo--yelp: "\ed1a";
$th-Logo--youtube: "\ed1b";
$th-Logout: "\ed1c";
$th-Loop: "\ed1d";
$th-Low-severity: "\ed1e";
$th-Mac--command: "\ed1f";
$th-Mac--option: "\ed20";
$th-Mac--shift: "\ed21";
$th-Machine-learning-model: "\ed22";
$th-Machine-learning: "\ed23";
$th-Magic-wand--filled: "\ed24";
$th-Magic-wand: "\ed25";
$th-Magnify: "\ed26";
$th-Mail--all: "\ed27";
$th-Mail--reply: "\ed28";
$th-Mammogram: "\ed29";
$th-Manage-protection: "\ed2a";
$th-Managed-solutions: "\ed2b";
$th-Map--center: "\ed2c";
$th-Map--identify: "\ed2d";
$th-Map-boundary--vegetation: "\ed2e";
$th-Map-boundary: "\ed2f";
$th-Map: "\ed30";
$th-Marine-warning: "\ed31";
$th-Math-curve: "\ed32";
$th-Matrix: "\ed33";
$th-Maximize: "\ed34";
$th-Media--library--filled: "\ed35";
$th-Media--library: "\ed36";
$th-Media-cast: "\ed37";
$th-Medication--alert: "\ed38";
$th-Medication--reminder: "\ed39";
$th-Medication: "\ed3a";
$th-Menu: "\ed3b";
$th-Message-queue: "\ed3c";
$th-Meter--alt: "\ed3d";
$th-Meter: "\ed3e";
$th-Microphone--filled: "\ed3f";
$th-Microphone--off--filled: "\ed40";
$th-Microphone--off: "\ed41";
$th-Microphone: "\ed42";
$th-Microscope: "\ed43";
$th-Microservices--1: "\ed44";
$th-Microservices--2: "\ed45";
$th-Migrate--alt: "\ed46";
$th-Migrate: "\ed47";
$th-Milestone: "\ed48";
$th-Military-camp: "\ed49";
$th-Minimize: "\ed4a";
$th-Misuse--outline: "\ed4b";
$th-Misuse: "\ed4c";
$th-Mixed-rain-hail: "\ed4d";
$th-Mobile--add: "\ed4e";
$th-Mobile--audio: "\ed4f";
$th-Mobile--check: "\ed50";
$th-Mobile--download: "\ed51";
$th-Mobile--landscape: "\ed52";
$th-Mobile: "\ed53";
$th-Mobility--services: "\ed54";
$th-Model--alt: "\ed55";
$th-Model--reference: "\ed56";
$th-Model-builder--reference: "\ed57";
$th-Model-builder: "\ed58";
$th-Model: "\ed59";
$th-Money: "\ed5a";
$th-Monster: "\ed5b";
$th-Monument: "\ed5c";
$th-Moon: "\ed5d";
$th-Moonrise: "\ed5e";
$th-Moonset: "\ed5f";
$th-Mostly-cloudy--night: "\ed60";
$th-Mostly-cloudy: "\ed61";
$th-Mountain: "\ed62";
$th-Mov: "\ed63";
$th-Move: "\ed64";
$th-Movement: "\ed65";
$th-Mp3: "\ed66";
$th-Mp4: "\ed67";
$th-Mpeg: "\ed68";
$th-Mpg2: "\ed69";
$th-Music--add: "\ed6a";
$th-Music--remove: "\ed6b";
$th-Music: "\ed6c";
$th-Name-space: "\ed6d";
$th-Navaid--civil: "\ed6e";
$th-Navaid--dme: "\ed6f";
$th-Navaid--helipad: "\ed70";
$th-Navaid--military-civil: "\ed71";
$th-Navaid--military: "\ed72";
$th-Navaid--ndb-dme: "\ed73";
$th-Navaid--ndb: "\ed74";
$th-Navaid--private: "\ed75";
$th-Navaid--seaplane: "\ed76";
$th-Navaid--tacan: "\ed77";
$th-Navaid--vhfor: "\ed78";
$th-Navaid--vor: "\ed79";
$th-Navaid--vordme: "\ed7a";
$th-Navaid--vortac: "\ed7b";
$th-Need: "\ed7c";
$th-Network--1: "\ed7d";
$th-Network--2: "\ed7e";
$th-Network--3--reference: "\ed7f";
$th-Network--3: "\ed80";
$th-Network--4--reference: "\ed81";
$th-Network--4: "\ed82";
$th-Network--admin-control: "\ed83";
$th-Network--enterprise: "\ed84";
$th-Network--overlay: "\ed85";
$th-Network--public: "\ed86";
$th-New-tab: "\ed87";
$th-Next--filled: "\ed88";
$th-Next--outline: "\ed89";
$th-No-image: "\ed8a";
$th-No-ticket: "\ed8b";
$th-Nominal: "\ed8c";
$th-Nominate: "\ed8d";
$th-Non-certified: "\ed8e";
$th-Noodle-bowl: "\ed8f";
$th-Not-available: "\ed90";
$th-Not-sent--filled: "\ed91";
$th-Not-sent: "\ed92";
$th-Notebook--reference: "\ed93";
$th-Notebook: "\ed94";
$th-Notification--filled: "\ed95";
$th-Notification--new: "\ed96";
$th-Notification--off--filled: "\ed97";
$th-Notification--off: "\ed98";
$th-Notification: "\ed99";
$th-Number--0: "\ed9a";
$th-Number--1: "\ed9b";
$th-Number--2: "\ed9c";
$th-Number--3: "\ed9d";
$th-Number--4: "\ed9e";
$th-Number--5: "\ed9f";
$th-Number--6: "\eda0";
$th-Number--7: "\eda1";
$th-Number--8: "\eda2";
$th-Number--9: "\eda3";
$th-Number--small--0: "\eda4";
$th-Number--small--1: "\eda5";
$th-Number--small--2: "\eda6";
$th-Number--small--3: "\eda7";
$th-Number--small--4: "\eda8";
$th-Number--small--5: "\eda9";
$th-Number--small--6: "\edaa";
$th-Number--small--7: "\edab";
$th-Number--small--8: "\edac";
$th-Number--small--9: "\edad";
$th-Object-storage--alt: "\edae";
$th-Object-storage-1: "\edaf";
$th-Object-storage: "\edb0";
$th-Observed--hail: "\edb1";
$th-Observed--lightning: "\edb2";
$th-Omega: "\edb3";
$th-Opacity: "\edb4";
$th-Open-panel--bottom: "\edb5";
$th-Open-panel--filled--bottom: "\edb6";
$th-Open-panel--filled--left: "\edb7";
$th-Open-panel--filled--right: "\edb8";
$th-Open-panel--filled--top: "\edb9";
$th-Open-panel--left: "\edba";
$th-Open-panel--right: "\edbb";
$th-Open-panel--top: "\edbc";
$th-Operation--gauge: "\edbd";
$th-Operation--if: "\edbe";
$th-Operation: "\edbf";
$th-Operations--field: "\edc0";
$th-Operations--record: "\edc1";
$th-Order-details: "\edc2";
$th-Ordinal: "\edc3";
$th-Outage: "\edc4";
$th-Outlook-severe: "\edc5";
$th-Overflow-menu--horizontal: "\edc6";
$th-Overflow-menu--vertical: "\edc7";
$th-Overlay: "\edc8";
$th-Package: "\edc9";
$th-Page--first: "\edca";
$th-Page--last: "\edcb";
$th-Page-break: "\edcc";
$th-Page-number: "\edcd";
$th-Page-scroll: "\edce";
$th-Paint-brush--alt: "\edcf";
$th-Paint-brush: "\edd0";
$th-Palm-tree: "\edd1";
$th-Pan--horizontal: "\edd2";
$th-Pan--vertical: "\edd3";
$th-Panel-expansion: "\edd4";
$th-Paragraph: "\edd5";
$th-Parameter: "\edd6";
$th-Parent-child: "\edd7";
$th-Partly-cloudy--night: "\edd8";
$th-Partly-cloudy: "\edd9";
$th-Partnership: "\edda";
$th-Passenger--drinks: "\eddb";
$th-Passenger--plus: "\eddc";
$th-Password: "\eddd";
$th-Paste: "\edde";
$th-Pause--filled: "\eddf";
$th-Pause--outline--filled: "\ede0";
$th-Pause--outline: "\ede1";
$th-Pause-future: "\ede2";
$th-Pause-past: "\ede3";
$th-Pause: "\ede4";
$th-Pcn--e-node: "\ede5";
$th-Pcn--military: "\ede6";
$th-Pcn--p-node: "\ede7";
$th-Pcn--z-node: "\ede8";
$th-Pdf--reference: "\ede9";
$th-Pdf: "\edea";
$th-Pedestrian--family: "\edeb";
$th-Pedestrian-child: "\edec";
$th-Pedestrian: "\eded";
$th-Pen--fountain: "\edee";
$th-Pen: "\edef";
$th-Pending--filled: "\edf0";
$th-Pending: "\edf1";
$th-Percentage--filled: "\edf2";
$th-Percentage: "\edf3";
$th-Person--favorite: "\edf4";
$th-Person: "\edf5";
$th-Pest: "\edf6";
$th-Pet-image--b: "\edf7";
$th-Pet-image--o: "\edf8";
$th-Phone--application: "\edf9";
$th-Phone--block--filled: "\edfa";
$th-Phone--block: "\edfb";
$th-Phone--filled: "\edfc";
$th-Phone--incoming--filled: "\edfd";
$th-Phone--incoming: "\edfe";
$th-Phone--ip: "\edff";
$th-Phone--off--filled: "\ee00";
$th-Phone--off: "\ee01";
$th-Phone--outgoing--filled: "\ee02";
$th-Phone--outgoing: "\ee03";
$th-Phone--settings: "\ee04";
$th-Phone--voice--filled: "\ee05";
$th-Phone--voice: "\ee06";
$th-Phone: "\ee07";
$th-Phrase-sentiment: "\ee08";
$th-Picnic-area: "\ee09";
$th-Piggy-bank--slot: "\ee0a";
$th-Piggy-bank: "\ee0b";
$th-Pills--add: "\ee0c";
$th-Pills--subtract: "\ee0d";
$th-Pills: "\ee0e";
$th-Pin--filled: "\ee0f";
$th-Pin: "\ee10";
$th-Plane--private: "\ee11";
$th-Plane--sea: "\ee12";
$th-Plane: "\ee13";
$th-Play--filled--alt: "\ee14";
$th-Play--filled: "\ee15";
$th-Play--outline--filled: "\ee16";
$th-Play--outline: "\ee17";
$th-Play: "\ee18";
$th-Playlist: "\ee19";
$th-Plug--filled: "\ee1a";
$th-Plug: "\ee1b";
$th-Png: "\ee1c";
$th-Point-of-presence: "\ee1d";
$th-Pointer-text: "\ee1e";
$th-Police: "\ee1f";
$th-Policy: "\ee20";
$th-Popup: "\ee21";
$th-Portfolio: "\ee22";
$th-Power: "\ee23";
$th-Ppt: "\ee24";
$th-Presentation-file: "\ee25";
$th-Pressure--filled: "\ee26";
$th-Pressure: "\ee27";
$th-Previous--filled: "\ee28";
$th-Previous--outline: "\ee29";
$th-Printer: "\ee2a";
$th-Product: "\ee2b";
$th-Progress-bar--round: "\ee2c";
$th-Progress-bar: "\ee2d";
$th-Property-relationship: "\ee2e";
$th-Purchase: "\ee2f";
$th-QC-launch: "\ee30";
$th-Qq-plot: "\ee31";
$th-Qr-code: "\ee32";
$th-Quadrant-plot: "\ee33";
$th-Query-queue: "\ee34";
$th-Query: "\ee35";
$th-Queued: "\ee36";
$th-Quotes: "\ee37";
$th-Radar--enhanced: "\ee38";
$th-Radar--weather: "\ee39";
$th-Radar: "\ee3a";
$th-Radio--combat: "\ee3b";
$th-Radio--push-to-talk: "\ee3c";
$th-Radio-button--checked: "\ee3d";
$th-Radio-button: "\ee3e";
$th-Radio: "\ee3f";
$th-Rain--drizzle: "\ee40";
$th-Rain--heavy: "\ee41";
$th-Rain--scattered--night: "\ee42";
$th-Rain--scattered: "\ee43";
$th-Rain-drop: "\ee44";
$th-Rain: "\ee45";
$th-Raw: "\ee46";
$th-Receipt: "\ee47";
$th-Recently-viewed: "\ee48";
$th-Recommend: "\ee49";
$th-Recording--filled--alt: "\ee4a";
$th-Recording--filled: "\ee4b";
$th-Recording: "\ee4c";
$th-Redo: "\ee4d";
$th-Ref-evapotranspiration: "\ee4e";
$th-Reflect--horizontal: "\ee4f";
$th-Reflect--vertical: "\ee50";
$th-Region-analysis--area: "\ee51";
$th-Region-analysis--volume: "\ee52";
$th-Registration: "\ee53";
$th-Reminder--medical: "\ee54";
$th-Reminder: "\ee55";
$th-Renew: "\ee56";
$th-Repeat--one: "\ee57";
$th-Repeat: "\ee58";
$th-Replicate: "\ee59";
$th-Reply--all: "\ee5a";
$th-Reply: "\ee5b";
$th-Report--data: "\ee5c";
$th-Report: "\ee5d";
$th-Request-quote: "\ee5e";
$th-Reset--alt: "\ee5f";
$th-Reset: "\ee60";
$th-Restart: "\ee61";
$th-Restaurant--fine: "\ee62";
$th-Restaurant: "\ee63";
$th-Result--new: "\ee64";
$th-Result--old: "\ee65";
$th-Result: "\ee66";
$th-Retry--failed: "\ee67";
$th-Review: "\ee68";
$th-Rewind--5: "\ee69";
$th-Rewind--10: "\ee6a";
$th-Rewind--30: "\ee6b";
$th-Road--weather: "\ee6c";
$th-Road: "\ee6d";
$th-Roadmap: "\ee6e";
$th-Rocket: "\ee6f";
$th-Rotate--180: "\ee70";
$th-Rotate--360: "\ee71";
$th-Rotate--clockwise--alt--filled: "\ee72";
$th-Rotate--clockwise--alt: "\ee73";
$th-Rotate--clockwise--filled: "\ee74";
$th-Rotate--clockwise: "\ee75";
$th-Rotate--counterclockwise--alt--filled: "\ee76";
$th-Rotate--counterclockwise--alt: "\ee77";
$th-Rotate--counterclockwise--filled: "\ee78";
$th-Rotate--counterclockwise: "\ee79";
$th-Rotate: "\ee7a";
$th-Router--voice: "\ee7b";
$th-Router--wifi: "\ee7c";
$th-Router: "\ee7d";
$th-Row--collapse: "\ee7e";
$th-Row--delete: "\ee7f";
$th-Row--expand: "\ee80";
$th-Row--insert: "\ee81";
$th-Row: "\ee82";
$th-Rss: "\ee83";
$th-Rule--cancelled: "\ee84";
$th-Rule--data-quality: "\ee85";
$th-Rule--draft: "\ee86";
$th-Rule--filled: "\ee87";
$th-Rule--test: "\ee88";
$th-Rule: "\ee89";
$th-Ruler--alt: "\ee8a";
$th-Ruler: "\ee8b";
$th-Run: "\ee8c";
$th-S--alt: "\ee8d";
$th-S: "\ee8e";
$th-Sailboat--coastal: "\ee8f";
$th-Sailboat--offshore: "\ee90";
$th-Sankey-diagram--alt: "\ee91";
$th-Sankey-diagram: "\ee92";
$th-Satellite--radar: "\ee93";
$th-Satellite--weather: "\ee94";
$th-Satellite: "\ee95";
$th-Save--annotation: "\ee96";
$th-Save--image: "\ee97";
$th-Save--model: "\ee98";
$th-Save--series: "\ee99";
$th-Save: "\ee9a";
$th-Scale: "\ee9b";
$th-Scales--tipped: "\ee9c";
$th-Scales: "\ee9d";
$th-Scalpel--cursor: "\ee9e";
$th-Scalpel--lasso: "\ee9f";
$th-Scalpel--select: "\eea0";
$th-Scalpel: "\eea1";
$th-Scan--alt: "\eea2";
$th-Scan--disabled: "\eea3";
$th-Scan: "\eea4";
$th-Scatter-matrix: "\eea5";
$th-Schematics: "\eea6";
$th-Scis--control-tower: "\eea7";
$th-Scis--transparent-supply: "\eea8";
$th-Scooter--front: "\eea9";
$th-Scooter: "\eeaa";
$th-Screen--off: "\eeab";
$th-Screen-1: "\eeac";
$th-Screen: "\eead";
$th-Script--reference: "\eeae";
$th-Script: "\eeaf";
$th-Sdk: "\eeb0";
$th-Search--advanced: "\eeb1";
$th-Search--locate: "\eeb2";
$th-Search: "\eeb3";
$th-Security-services: "\eeb4";
$th-Security: "\eeb5";
$th-Select--01: "\eeb6";
$th-Select--02: "\eeb7";
$th-Select--window: "\eeb8";
$th-Send--alt--filled: "\eeb9";
$th-Send--alt: "\eeba";
$th-Send--filled: "\eebb";
$th-Send-backward: "\eebc";
$th-Send-to-back: "\eebd";
$th-Send: "\eebe";
$th-Server--dns: "\eebf";
$th-Server--proxy: "\eec0";
$th-Server--time: "\eec1";
$th-Service-desk: "\eec2";
$th-Service-id: "\eec3";
$th-Session-border-control: "\eec4";
$th-Settings--adjust: "\eec5";
$th-Settings--check: "\eec6";
$th-Settings--services: "\eec7";
$th-Settings--view: "\eec8";
$th-Settings: "\eec9";
$th-Shape--except: "\eeca";
$th-Shape--exclude: "\eecb";
$th-Shape--intersect: "\eecc";
$th-Shape--join: "\eecd";
$th-Shape--unite: "\eece";
$th-Share-knowledge: "\eecf";
$th-Share: "\eed0";
$th-Shopping--bag: "\eed1";
$th-Shopping--cart--arrow-down: "\eed2";
$th-Shopping--cart--arrow-up: "\eed3";
$th-Shopping--cart--clear: "\eed4";
$th-Shopping--cart--error: "\eed5";
$th-Shopping--cart--minus: "\eed6";
$th-Shopping--cart--plus: "\eed7";
$th-Shopping--cart: "\eed8";
$th-Shopping--catalog: "\eed9";
$th-Show-data--cards: "\eeda";
$th-Shrink-screen--filled: "\eedb";
$th-Shrink-screen: "\eedc";
$th-Shuffle: "\eedd";
$th-Shuttle: "\eede";
$th-Sight: "\eedf";
$th-Sigma: "\eee0";
$th-Signal-strength: "\eee1";
$th-Sim-card: "\eee2";
$th-Skill-level--advanced: "\eee3";
$th-Skill-level--basic: "\eee4";
$th-Skill-level--intermediate: "\eee5";
$th-Skill-level: "\eee6";
$th-Skip--back--filled: "\eee7";
$th-Skip--back--outline--filled: "\eee8";
$th-Skip--back--outline--solid: "\eee9";
$th-Skip--back--outline: "\eeea";
$th-Skip--back--solid--filled: "\eeeb";
$th-Skip--back: "\eeec";
$th-Skip--forward--filled: "\eeed";
$th-Skip--forward--outline--filled: "\eeee";
$th-Skip--forward--outline--solid: "\eeef";
$th-Skip--forward--outline: "\eef0";
$th-Skip--forward--solid--filled: "\eef1";
$th-Skip--forward: "\eef2";
$th-Sleet: "\eef3";
$th-Slisor: "\eef4";
$th-Smell: "\eef5";
$th-Smoke: "\eef6";
$th-Smoothing--cursor: "\eef7";
$th-Smoothing: "\eef8";
$th-Snooze: "\eef9";
$th-Snow--blizzard: "\eefa";
$th-Snow--heavy: "\eefb";
$th-Snow--scattered--night: "\eefc";
$th-Snow--scattered: "\eefd";
$th-Snow-density: "\eefe";
$th-Snow: "\eeff";
$th-Snowflake: "\ef00";
$th-Soccer: "\ef01";
$th-Software-resource--cluster: "\ef02";
$th-Software-resource--resource: "\ef03";
$th-Software-resource: "\ef04";
$th-Soil-moisture--field: "\ef05";
$th-Soil-moisture--global: "\ef06";
$th-Soil-moisture: "\ef07";
$th-Soil-temperature--field: "\ef08";
$th-Soil-temperature--global: "\ef09";
$th-Soil-temperature: "\ef0a";
$th-Solar-panel: "\ef0b";
$th-Sort--ascending: "\ef0c";
$th-Sort--descending: "\ef0d";
$th-Sort--remove: "\ef0e";
$th-Spell-check: "\ef0f";
$th-Spine-label: "\ef10";
$th-Split--discard: "\ef11";
$th-Split-screen: "\ef12";
$th-Split: "\ef13";
$th-Spray-paint: "\ef14";
$th-Sprout: "\ef15";
$th-Sql: "\ef16";
$th-Stack-limitation: "\ef17";
$th-Stacked-move: "\ef18";
$th-Stacked-scrolling--1: "\ef19";
$th-Stacked-scrolling--2: "\ef1a";
$th-Stamp: "\ef1b";
$th-Star--filled: "\ef1c";
$th-Star--half: "\ef1d";
$th-Star--review: "\ef1e";
$th-Star: "\ef1f";
$th-Status--acknowledge: "\ef20";
$th-Status--partial-fail: "\ef21";
$th-Status--resolved: "\ef22";
$th-Stay-inside: "\ef23";
$th-Stem-leaf-plot: "\ef24";
$th-Stethoscope: "\ef25";
$th-Stop--filled--alt: "\ef26";
$th-Stop--filled: "\ef27";
$th-Stop--outline--filled: "\ef28";
$th-Stop--outline: "\ef29";
$th-Stop-sign--filled: "\ef2a";
$th-Stop-sign: "\ef2b";
$th-Stop: "\ef2c";
$th-Storage-pool: "\ef2d";
$th-Storage-request: "\ef2e";
$th-Store: "\ef2f";
$th-Storm-tracker: "\ef30";
$th-Strawberry: "\ef31";
$th-Stress-breath-editor: "\ef32";
$th-Study--next: "\ef33";
$th-Study--previous: "\ef34";
$th-Study--read: "\ef35";
$th-Study--skip: "\ef36";
$th-Study--transfer: "\ef37";
$th-Study--unread: "\ef38";
$th-Study--view: "\ef39";
$th-Sub-volume: "\ef3a";
$th-Subflow--local: "\ef3b";
$th-Subflow: "\ef3c";
$th-Subnet-acl-rules: "\ef3d";
$th-Subtract--alt: "\ef3e";
$th-Subtract: "\ef3f";
$th-Summary--kpi: "\ef40";
$th-Sun: "\ef41";
$th-Sunrise: "\ef42";
$th-Sunset: "\ef43";
$th-Svg: "\ef44";
$th-Swim: "\ef45";
$th-Switch-layer-2: "\ef46";
$th-Switch-layer-3: "\ef47";
$th-Switcher: "\ef48";
$th-Sys-provision: "\ef49";
$th-T--alt: "\ef4a";
$th-T: "\ef4b";
$th-Table--alias: "\ef4c";
$th-Table--built: "\ef4d";
$th-Table--shortcut: "\ef4e";
$th-Table--split: "\ef4f";
$th-Table-of-contents: "\ef50";
$th-Table: "\ef51";
$th-Tablet--landscape: "\ef52";
$th-Tablet: "\ef53";
$th-Tag--edit: "\ef54";
$th-Tag--export: "\ef55";
$th-Tag--group: "\ef56";
$th-Tag--import: "\ef57";
$th-Tag--none: "\ef58";
$th-Tag: "\ef59";
$th-Tank: "\ef5a";
$th-Task--add: "\ef5b";
$th-Task--approved: "\ef5c";
$th-Task--asset-view: "\ef5d";
$th-Task--complete: "\ef5e";
$th-Task--location: "\ef5f";
$th-Task--remove: "\ef60";
$th-Task--settings: "\ef61";
$th-Task--star: "\ef62";
$th-Task--tools: "\ef63";
$th-Task--view: "\ef64";
$th-Task: "\ef65";
$th-Taste: "\ef66";
$th-Taxi: "\ef67";
$th-Temperature--celsius--alt: "\ef68";
$th-Temperature--celsius: "\ef69";
$th-Temperature--fahrenheit--alt: "\ef6a";
$th-Temperature--fahrenheit: "\ef6b";
$th-Temperature--feels-like: "\ef6c";
$th-Temperature--frigid: "\ef6d";
$th-Temperature--hot: "\ef6e";
$th-Temperature--inversion: "\ef6f";
$th-Temperature--max: "\ef70";
$th-Temperature--min: "\ef71";
$th-Temperature--water: "\ef72";
$th-Temperature: "\ef73";
$th-Template: "\ef74";
$th-Tennis-ball: "\ef75";
$th-Tennis: "\ef76";
$th-Term: "\ef77";
$th-Terminal--3270: "\ef78";
$th-Terminal: "\ef79";
$th-Text--align--center: "\ef7a";
$th-Text--align--justify: "\ef7b";
$th-Text--align--left: "\ef7c";
$th-Text--align--mixed: "\ef7d";
$th-Text--align--right: "\ef7e";
$th-Text--all-caps: "\ef7f";
$th-Text--bold: "\ef80";
$th-Text--clear-format: "\ef81";
$th-Text--color: "\ef82";
$th-Text--creation: "\ef83";
$th-Text--fill: "\ef84";
$th-Text--font: "\ef85";
$th-Text--footnote: "\ef86";
$th-Text--highlight: "\ef87";
$th-Text--indent--less: "\ef88";
$th-Text--indent--more: "\ef89";
$th-Text--indent: "\ef8a";
$th-Text--italic: "\ef8b";
$th-Text--kerning: "\ef8c";
$th-Text--leading: "\ef8d";
$th-Text--line-spacing: "\ef8e";
$th-Text--new-line: "\ef8f";
$th-Text--scale: "\ef90";
$th-Text--selection: "\ef91";
$th-Text--small-caps: "\ef92";
$th-Text--strikethrough: "\ef93";
$th-Text--subscript: "\ef94";
$th-Text--superscript: "\ef95";
$th-Text--tracking: "\ef96";
$th-Text--underline: "\ef97";
$th-Text--vertical-alignment: "\ef98";
$th-Text--wrap: "\ef99";
$th-Text-annotation-toggle: "\ef9a";
$th-Text-link--analysis: "\ef9b";
$th-Text-link: "\ef9c";
$th-Text-mining--applier: "\ef9d";
$th-Text-mining: "\ef9e";
$th-Theater: "\ef9f";
$th-This-side-up: "\efa0";
$th-Threshold: "\efa1";
$th-Thumbnail--1: "\efa2";
$th-Thumbnail--2: "\efa3";
$th-Thumbnail-preview: "\efa4";
$th-Thumbs-down--filled: "\efa5";
$th-Thumbs-down: "\efa6";
$th-Thumbs-up--filled: "\efa7";
$th-Thumbs-up: "\efa8";
$th-Thunderstorm--scattered--night: "\efa9";
$th-Thunderstorm--scattered: "\efaa";
$th-Thunderstorm--severe: "\efab";
$th-Thunderstorm--strong: "\efac";
$th-Thunderstorm: "\efad";
$th-Ticket: "\efae";
$th-Tides: "\efaf";
$th-Tif: "\efb0";
$th-Time-plot: "\efb1";
$th-Time: "\efb2";
$th-Timer: "\efb3";
$th-Tool-box: "\efb4";
$th-Tool-kit: "\efb5";
$th-Tools--alt: "\efb6";
$th-Tools: "\efb7";
$th-Tornado-warning: "\efb8";
$th-Tornado: "\efb9";
$th-Touch--1--filled: "\efba";
$th-Touch--1-down--filled: "\efbb";
$th-Touch--1-down: "\efbc";
$th-Touch--1: "\efbd";
$th-Touch--2--filled: "\efbe";
$th-Touch--2: "\efbf";
$th-Touch--interaction: "\efc0";
$th-Traffic--event: "\efc1";
$th-Traffic--flow-incident: "\efc2";
$th-Traffic--flow: "\efc3";
$th-Traffic--incident: "\efc4";
$th-Traffic--weather-incident: "\efc5";
$th-Traffic-cone: "\efc6";
$th-Train--heart: "\efc7";
$th-Train--profile: "\efc8";
$th-Train--speed: "\efc9";
$th-Train--ticket: "\efca";
$th-Train--time: "\efcb";
$th-Train: "\efcc";
$th-Tram: "\efcd";
$th-Transgender: "\efce";
$th-Translate: "\efcf";
$th-Transmission-lte: "\efd0";
$th-Transpose: "\efd1";
$th-Trash-can: "\efd2";
$th-Tree--fall-risk: "\efd3";
$th-Tree-view--alt: "\efd4";
$th-Tree-view: "\efd5";
$th-Tree: "\efd6";
$th-Trophy--filled: "\efd7";
$th-Trophy: "\efd8";
$th-Tropical-storm--model-tracks: "\efd9";
$th-Tropical-storm--tracks: "\efda";
$th-Tropical-storm: "\efdb";
$th-Tropical-warning: "\efdc";
$th-Tsunami: "\efdd";
$th-Tsv: "\efde";
$th-Two-factor-authentication: "\efdf";
$th-Two-person-lift: "\efe0";
$th-Txt--reference: "\efe1";
$th-Txt: "\efe2";
$th-Type-pattern: "\efe3";
$th-Types: "\efe4";
$th-U1: "\efe5";
$th-U2: "\efe6";
$th-U3: "\efe7";
$th-Umbrella: "\efe8";
$th-Undefined--filled: "\efe9";
$th-Undefined: "\efea";
$th-Undo: "\efeb";
$th-Ungroup-objects: "\efec";
$th-Unknown--filled: "\efed";
$th-Unknown: "\efee";
$th-Unlink: "\efef";
$th-Unlocked: "\eff0";
$th-Up-to-top: "\eff1";
$th-Update-now: "\eff2";
$th-Upgrade: "\eff3";
$th-Upload: "\eff4";
$th-Usb: "\eff5";
$th-User--access: "\eff6";
$th-User--activity: "\eff7";
$th-User--admin: "\eff8";
$th-User--avatar--filled--alt: "\eff9";
$th-User--avatar--filled: "\effa";
$th-User--avatar: "\effb";
$th-User--certification: "\effc";
$th-User--data: "\effd";
$th-User--favorite--alt--filled: "\effe";
$th-User--favorite--alt: "\efff";
$th-User--favorite: "\f000";
$th-User--filled: "\f001";
$th-User--follow: "\f002";
$th-User--identification: "\f003";
$th-User--military: "\f004";
$th-User--multiple: "\f005";
$th-User--online: "\f006";
$th-User--profile: "\f007";
$th-User--role: "\f008";
$th-User--service-desk: "\f009";
$th-User--settings: "\f00a";
$th-User--simulation: "\f00b";
$th-User--speaker: "\f00c";
$th-User--x-ray: "\f00d";
$th-User-profile--alt: "\f00e";
$th-User: "\f00f";
$th-Uv-index--alt: "\f010";
$th-Uv-index--filled: "\f011";
$th-Uv-index: "\f012";
$th-Value--variable: "\f013";
$th-Van: "\f014";
$th-Vegetation--asset: "\f015";
$th-Vehicle--api: "\f016";
$th-Vehicle--connected: "\f017";
$th-Vehicle--insights: "\f018";
$th-Vehicle--services: "\f019";
$th-Version: "\f01a";
$th-Vertical-view: "\f01b";
$th-Video--add: "\f01c";
$th-Video--chat: "\f01d";
$th-Video--filled: "\f01e";
$th-Video--off--filled: "\f01f";
$th-Video--off: "\f020";
$th-Video: "\f021";
$th-View--filled: "\f022";
$th-View--mode-1: "\f023";
$th-View--mode-2: "\f024";
$th-View--off--filled: "\f025";
$th-View--off: "\f026";
$th-View-next: "\f027";
$th-View: "\f028";
$th-Virtual-column--key: "\f029";
$th-Virtual-column: "\f02a";
$th-Virtual-desktop: "\f02b";
$th-Virtual-machine: "\f02c";
$th-Virtual-private-cloud--alt: "\f02d";
$th-Virtual-private-cloud: "\f02e";
$th-Visual-recognition: "\f02f";
$th-Vlan--IBM: "\f030";
$th-Vlan: "\f031";
$th-Vmdk-disk: "\f032";
$th-Voice-activate: "\f033";
$th-Voicemail: "\f034";
$th-Volume--block-storage: "\f035";
$th-Volume--down--alt: "\f036";
$th-Volume--down--filled--alt: "\f037";
$th-Volume--down--filled: "\f038";
$th-Volume--down: "\f039";
$th-Volume--file-storage: "\f03a";
$th-Volume--mute--filled: "\f03b";
$th-Volume--mute: "\f03c";
$th-Volume--object-storage: "\f03d";
$th-Volume--up--alt: "\f03e";
$th-Volume--up--filled--alt: "\f03f";
$th-Volume--up--filled: "\f040";
$th-Volume--up: "\f041";
$th-Vpn--connection: "\f042";
$th-Vpn--policy: "\f043";
$th-Vpn: "\f044";
$th-Wallet: "\f045";
$th-Warning--alt--filled: "\f046";
$th-Warning--alt-inverted--filled: "\f047";
$th-Warning--alt-inverted: "\f048";
$th-Warning--alt: "\f049";
$th-Warning--filled: "\f04a";
$th-Warning--hex--filled: "\f04b";
$th-Warning--hex: "\f04c";
$th-Warning--other: "\f04d";
$th-Warning-square--filled: "\f04e";
$th-Warning-square: "\f04f";
$th-Warning: "\f050";
$th-Watch: "\f051";
$th-Watson--machine-learning: "\f052";
$th-Watson: "\f053";
$th-Wave-direction: "\f054";
$th-Wave-height: "\f055";
$th-Wave-period: "\f056";
$th-Weather-front--cold: "\f057";
$th-Weather-front--stationary: "\f058";
$th-Weather-front--warm: "\f059";
$th-Weather-station: "\f05a";
$th-Webhook: "\f05b";
$th-Websheet: "\f05c";
$th-Wheat: "\f05d";
$th-Wifi--controller: "\f05e";
$th-Wifi--not-secure: "\f05f";
$th-Wifi--off: "\f060";
$th-Wifi--secure: "\f061";
$th-Wifi-bridge--alt: "\f062";
$th-Wifi-bridge: "\f063";
$th-Wifi: "\f064";
$th-Wikis: "\f065";
$th-Wind-gusts: "\f066";
$th-Wind-power: "\f067";
$th-Wind-stream: "\f068";
$th-Window--auto: "\f069";
$th-Window--base: "\f06a";
$th-Window--black-saturation: "\f06b";
$th-Window--overlay: "\f06c";
$th-Window--preset: "\f06d";
$th-Windy--dust: "\f06e";
$th-Windy--snow: "\f06f";
$th-Windy--strong: "\f070";
$th-Windy: "\f071";
$th-Winter-warning: "\f072";
$th-Wintry-mix: "\f073";
$th-Wireless-checkout: "\f074";
$th-Wmv: "\f075";
$th-Word-cloud: "\f076";
$th-Workflow-automation: "\f077";
$th-Workspace--import: "\f078";
$th-Workspace: "\f079";
$th-Worship--christian: "\f07a";
$th-Worship--jewish: "\f07b";
$th-Worship--muslim: "\f07c";
$th-Worship: "\f07d";
$th-X-axis: "\f07e";
$th-X: "\f07f";
$th-Xls: "\f080";
$th-Xml: "\f081";
$th-Y-axis: "\f082";
$th-Y: "\f083";
$th-Z-axis: "\f084";
$th-Z: "\f085";
$th-Zip--reference: "\f086";
$th-Zip: "\f087";
$th-Zoom--area: "\f088";
$th-Zoom--fit: "\f089";
$th-Zoom--in-area: "\f08a";
$th-Zoom--in: "\f08b";
$th-Zoom--out-area: "\f08c";
$th-Zoom--out: "\f08d";
$th-Zoom--reset: "\f08e";
$th-Zoom-pan: "\f08f";
$th-Checkmark--filled---green-path1: "\f090";
$th-Checkmark--filled---green-path2: "\f091";
$th-Checkmark--filled---blue-path1: "\f092";
$th-Checkmark--filled---blue-path2: "\f093";
$th-Error--red-path1: "\f094";
$th-Error--red-path2: "\f095";
