.btn {
    line-height: $lh;
}

.#{$prefix}btn {

    &-dropdown,
    &-outline {
        padding-block: $s-7;
        border-width: 1px;
    }

    &-dropdown {
        @include button-variant($white,
            $gray-border,
            $color: $gray-deactivate,
            $hover-color: $gray-deactivate,
            $hover-border: $gray-deactivate,
        );

        &:first-child {
            &:active {
                color: $gray-deactivate;
            }
        }

        &:active,
        &:focus {
            color: $gray-deactivate;
        }
    }

    &-primary {
        @include button-variant($primary, //background
            $primary, //border
            $white, //color
            $hover-background: $primary-hover, //hover-background
            $hover-border: $primary-hover, //hover-border
            $active-color: $white, //active-color
            $active-background: $primary-clicked, //active-background
            $active-border: $primary-clicked, //active-border
            $disabled-background: $gray-deactivate, //disabled-background
            $disabled-border: $gray-deactivate // disabled-border
        );

        &:focus {
            color: $white;
        }
    }

    &-outline {

        &-secondary {
            @include button-outline-variant($gray-border,
                $color-hover: $black,
                $active-background: $gray-border,
                $active-border: $gray-deactivate,
                $active-color: $black);
        }

        color: $gray-deactivate;

        &:hover {
            color: $black;
            background-color: $transparent;
            border-color: $gray-deactivate;

            .#{$prefix}icon {
                color: $black;
            }
        }

        &:active {
            .#{$prefix}icon {
                color: $black;
            }
        }
    }

    &-disabled {
        @include button-variant($gray-deactivate, //background
            $gray-deactivate, //border
            $white, //color
            $disabled-background: $gray-deactivate, //disabled-background
            $disabled-border: $gray-deactivate // disabled-border
        );

        path {
            fill: $white;
        }
    }

    &-icon {
        @include flex(center, center, $inline: true);

        &-hover {
            color: $gray-deactivate;
            &:hover {
                @include icon($black);
            }

            &:active {
                @include icon($primary);
            }
        }

        &-only{
            font-size: 0;
            line-height: 0;
        }
    }
}